@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-family: Arial, Helvetica, sans-serif;

}


.AppContainer {
  width: 100vw;
  height: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NavContainer {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.NavLogoCont {
  width: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: 'ADLaM Display', cursive;
  font-size: 35px;
  letter-spacing: 2px;
}

.NavBtnCont {
  display: flex;
  justify-content: space-around;
  width: 550px;
}

.slideOne:hover {
  box-shadow: inset 202px 0 0 0 #000000;
}

.slideTwo:hover {
  box-shadow: inset 142px 0 0 0 #000000;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 5px;
  color: #000000;
  transition: 0.35s;
  border-radius: 5px;
}

button:hover {
  border-color: #000000;
  color: #fff;
}


.NavBtnCont select {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}


.BilbordContainer {
  position: absolute;
  z-index: -1;
  width: 100vw;
  max-width: 100%;
  height: 125vh;
  top: 0;
  left: 0;
  background-image: url("./Images/LagalBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.InputContainer {
  margin: 45px 0 45px 0;
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.AutocompleteInput {
  width: 85%;
  background-color: white;
  border-radius: 5px;
}

.ItemTitleContainer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}

.ItemInfoContainer {
  width: 100%;
  max-width: 100%;
  height: fit-content;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}


.ItemImageContainer,
.ItemDescription {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemDescription {
  justify-content: flex-start;
}

.ItemImage {
  height: 300px;
  width: 300px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.ItemImage img {
  width: 100%;
  height: 100%;
  /* box-shadow: 4px 4px 4px 4px #1877d2; */
  border-radius: 5px;
}

.DescriptionWindow {
  margin-top: 40px;
  width: 90%;
  min-height: 100px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 166, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 2px solid orange;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}

.rtes {
  background-color: rgb(255, 121, 121);
  background-color: box;
  background-color: rgb(255, 206, 115)
}